header {
    color: white;
    background: gray;
}

nav ul li {
    display: inline-block;
    padding: 4px;

}


nav ul li a {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;

}

html {
    width: fit-content;
    height: fit-content;
    transition: 1s;
}