header {
    color: white;
    background: gray;
}

nav ul li {
    display: inline-block;
    padding: 4px;

}


nav ul li a {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;

}

body {

    transition: 1s;
}
button {
    border-radius: 4px;
    position: relative;
    left:10px;
}
.theme-toggles {
    width: 30px;
    height: 20px;
    position: absolute;
    left: 400px;
    top: 40xp;
    background: cadetblue;
    text-shadow: 4px 0 0 4px;
}
